.el-avatar {
  --el-avatar-background-color: none !important;
  --el-avatar-bg-color: none !important;
}

.deleteMessage {
  .el-message-box__status {
    position: absolute !important;
  }
}

.el-notification {
  .el-notification__icon {
    font-size: 24px;
    color: #c9c9c9;
  }
  .el-notification__closeBtn {
    position: absolute !important;
  }
}
